@media all and (max-width: 1170px){
    body{
        background-image: url(../img/man-2.jpg);
        height: 70vh;
        width: 100%;
    }
    
    h1{
        text-align: left;
/*        width: 100%;  dlaczego jak pojawia się width 100%, to również pojawia się suwak*/
        left: 57%;
        top: 10%;
        font-size: 21px;
    }
}

@media all and (max-width:992px){
    body{
        background-image: url(../img/man-1.jpg);
        height: 50vh;
        width: 100%;
        
    }
    
    h1{
        color: #000;
        text-align: center;
        left: 0;
        margin: 60% 0;
        width: 100%;

    }
    
}

